body, html{
	text-align: center;
	margin: 0 auto;
	padding: 0;
	font-family:'Roboto', sans-serif;
}

ul{
	margin: 50px auto;
	padding: 0;
	list-style-type: none;
}

ul li{
	margin: 0px auto;
}

.button{
	width: 160px;
	font-size: 18px;
	background-color: #008CBA;
	border-width: 2px;
	color: white;
	padding: 4px 30px;
	text-decoration: none;
}

.header{
	color: white;
	margin-top: 50px;
	font-size: 24px;
}

#pravidla{
	background-color: #008CBA;
	width: 600px;
	margin: 40px auto;
	padding: 15px;
	color: white;
	border-width: 2px;
}

.main{
	margin: 50px auto;
	padding: 30px;
	width: 1000px;
	height: 500px;
	border-radius: 50px;
	background-color: #555555;
}